// Root

// color de fondo
$primary-color: #F8F7FA;
$secondary-color: #FFFFFF;

// color de letra
$main-titles: #434050;
$button-title: #423F50;
$secondary-title: #706D7A;
$button-title-color: #FCFBFF;

// color de botones primcipales
$main-button-color: #7367F0;

// hover
$color-hover: #cccccc;

// Sombra
$shadow-color: #cccccc;